.wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
                         "content";
    width: 100vw; /* unnecessary, but let's keep things consistent */
    height: 100vh;
  }

  @media screen and (min-width: 850px) {
    .wrapper {
      grid-template-columns: 200px 5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar content";
    }
  }

  sidebar {
    grid-template-areas: "logo"
                         "avatar"
                         "menu"
                         "copyright";
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr 50px;
  }

table {
    fill: white;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    text-emphasis-color: black;
    outline: black, 2px;
    align-content: center;
    align-self: center;
}
tr {
    float: left;
    width: 100%;
    height: 15%;
}
td {
    float: left;
    align-content: center;
    border: 2px solid black;
    height: 10%;
    width: 10%;
} 

/* .calendardisplay {
    display: inline-grid;
    grid-gap: 20px;
    
} */
.toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;

    text-align: center;
    font-size: 0.9em;
  }
  .toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
  }
  .toggle__option:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
  .toggle__option:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .toggle__option--selected{
    border-color: white;
    background-color: white;
    font-weight: 500;
  }

  main {
    grid-area: content;
    padding: 48px;
  }

